@define-mixin transition-300 {
  transition: all 300ms ease-in-out;
}
@define-mixin transition-100 {
  transition: all 100ms ease-in-out;
}
@define-mixin bg-arc-top {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="269" height="6" viewBox="0 0 100 15"><defs><style>.a{fill:#ff00ff;}</style></defs><path class="a" d="M0,91.2h100V5C83.8,1.7,67.1,0,50,0S16.2,1.7,0,5V91.2z"/></svg>');
}
