<div class="container-fluid secretsauce__header">
  <div class="container">
    <div class="">
      <div>
        <h2 class="align-center">The Secret Sauce</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid secretsauce">
  <div class="container">
    <div>
      <div class="align-center">
        <div class="flourish__top"></div>
        <p class="body-copy">When you need quality execution of an idea or campaign, realized to its fullest, you need Sideways Design’s versatility and experience from design through to end-product.</p>
        <div class="flourish__bottom"></div>
        <p class="body-copy">With a broad range of skills across disciplines and media, my role changes easily from one&#8209;stop&#8209;shop to team member. I bring everything to the table to bolster a team or run solo on a solid brief.</p>
        <p class="body-copy">Friendly, articulate, and above all – passionate – about client satisfaction and an engaged audience.</p>
      </div>
    </div>
  </div>
</div>
