---
// Component Imports
import MainHead from '../components/MainHead.astro'

import Header from '../components/Header/Header.astro'
import Hero from '../components/Hero.astro'
import InternalPosts from '../components/InternalPosts.astro'
import PartnerPosts from '../components/PartnerPosts.astro'
import Footer from '../components/Footer/Footer.astro'
// import Everything from '../components/everything.astro'

import '../styles/base.css'
import '../styles/root.pcss'
import '../styles/typography.css'
import '../styles/button.css'

import '../styles/hero.css'
import '../styles/internalposts.css'
import '../styles/partnerposts.pcss'
import '../styles/nav.css'
// import '../styles/everything.css'
import '../components/Footer/footer.pcss'
---

<html lang="en">
  <head>
    <MainHead title="Dr.Bill" />
  </head>
  <body class="home page-template-default page page-id-9492 wp-embed-responsive">
    <Header />
    <Hero />
    <InternalPosts />
    <PartnerPosts />
    <!-- <Everything /> -->
    <Footer />
    <script>
      import '/src/scripts/main.js'
      import '/src/scripts/truncate.js'
      import '/src/scripts/arialabels.js'
    </script>
  </body>
</html>
