<main id="main" role="main" class="flex-1" data-type="page">
  <!-- <div class="bg-violet-light bg-cyan-light bg-navy-light text-violet-light text-cyan-light text-navy-light hover:bg-violet hover:bg-cyan hover:bg-navy focus:bg-violet focus:bg-cyan focus:bg-navy bg-violet bg-navy bg-cyan bg-slate"/> -->

  <section data-block="testimonials" data-component="testimonials" class="section relative theme theme-dove lg:pb-section-y -mb-24 lg:-mb-48">
    <div class="container mx-auto px-gutter-1/2 transform -translate-y-24 lg:-translate-y-48">
      <div class="relative flex flex-col w-full lg:block">
        <figure data-bg="" data-bgclass="bg-violet-light" aria-hidden="true" class="transition-colors duration-200 ease-out-sine drop-shadow-low absolute block inset-0 bg-violet-light rounded-lg w-[calc(100%-10px)] h-[calc(100%-4px)] lg:h-[calc(100%-5px)] left-[10px] top-[10px] lg:top-[-10px]"></figure>
        <button data-next="" data-hoverbgclass="bg-violet" class="order-2 w-[calc(100%-1.5rem)] lg:w-[7.5%] rounded-md relative lg:absolute text-center lg:top-0 ml-6 mt-1 lg:mt-0 lg:ml-0 h-[60px] lg:h-[calc(100%-20px)] right-2 text-dove uppercase px-5">
          <span class="sr-only">Next testimonial</span>
          <div class="flex items-center justify-center lg:flex-col">
            <i class="order-2 lg:order-1 inline-block lg:w-full text-[30px] lg:text-[63px]">
              <svg class="inline-block" height="1em" viewBox="0 0 32 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.36401 2L29.6066 29.2426C30.7782 30.4142 30.7782 32.3137 29.6066 33.4853L2.36401 60.7279" stroke="currentColor" stroke-width="3" stroke-linecap="round"></path>
              </svg>
            </i>
            <span class="order-1 inline-block mt-2 mr-4 lg:mt-5 lg:order-2 lg:mr-0 font-semibold tracking-[0.3px]">Next</span>
          </div>
        </button>
        <ul data-track="" class="shadow-high order-1 relative flex w-[calc(100%-0.5rem)] lg:w-11/12 theme theme-violet rounded-lg overflow-x-auto lg:overflow-hidden snap-x snap-mandatory scroll-smooth">
          <li data-slide="" tabindex="0" class="relative flex flex-col items-center flex-none w-full pt-5 pb-12 text-center lg:py-12 lg:flex-row lg:text-left px-9 snap-start snap-always">
            <i class="flex text-[46px] lg:text-[115px] h-full mb-6 lg:mb-0 items-center text-violet-light">
              <svg height="1em" viewBox="0 0 148 124" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M68.6893 14.1022L39.4963 68.3743L23.6119 72.6477C25.3292 69.2289 27.3326 66.38 29.6223 64.1009C32.1981 61.8217 34.9171 60.6822 37.7791 60.6822C44.3618 60.6822 50.3722 63.5311 55.8101 69.2289C61.5342 74.6419 64.3962 81.6218 64.3962 90.1686C64.3962 99.0003 61.248 106.692 54.9514 113.245C48.6549 119.797 41.0705 123.074 32.1981 123.074C23.6119 123.074 16.0275 119.94 9.44478 113.672C3.14826 107.12 0 99.2851 0 90.1686C0 86.465 0.715513 82.1916 2.14654 77.3484C3.86377 72.2203 6.72583 65.8102 10.7327 58.1181L42.5015 0L68.6893 14.1022ZM148 14.1022L118.807 68.3743L102.923 72.6477C104.64 69.2289 106.643 66.38 108.933 64.1009C111.509 61.8217 114.228 60.6822 117.09 60.6822C123.673 60.6822 129.683 63.5311 135.121 69.2289C140.845 74.6419 143.707 81.6218 143.707 90.1686C143.707 99.0003 140.559 106.692 134.262 113.245C127.966 119.797 120.381 123.074 111.509 123.074C102.923 123.074 95.3382 119.94 88.7555 113.672C82.459 107.12 79.3107 99.2851 79.3107 90.1686C79.3107 86.465 80.0262 82.1916 81.4572 77.3484C83.1745 72.2203 86.0365 65.8102 90.0434 58.1181L121.812 0L148 14.1022Z" fill="currentColor"></path>
              </svg>
            </i>
            <blockquote class="block relative lg:ml-9 text-2xl md:text-4xl leading-[1.25] lg:pr-36 font-medium">
              <span style="font-weight: 400">I am a one-person team, so it is invaluable to me that Dr.Bill offers a billing support team. It’s like having my own medical billing assistant whenever I need help.</span>
              <figcaption class="mt-5 text-lg font-semibold">Dr. Daffer Ghanim, Emergency Medicine</figcaption>
            </blockquote>
          </li>
          <li data-slide="" tabindex="-1" class="relative flex flex-col items-center flex-none w-full pt-5 pb-12 text-center lg:py-12 lg:flex-row lg:text-left px-9 snap-start snap-always">
            <i class="flex text-[46px] lg:text-[115px] h-full mb-6 lg:mb-0 items-center text-violet-light">
              <svg height="1em" viewBox="0 0 148 124" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M68.6893 14.1022L39.4963 68.3743L23.6119 72.6477C25.3292 69.2289 27.3326 66.38 29.6223 64.1009C32.1981 61.8217 34.9171 60.6822 37.7791 60.6822C44.3618 60.6822 50.3722 63.5311 55.8101 69.2289C61.5342 74.6419 64.3962 81.6218 64.3962 90.1686C64.3962 99.0003 61.248 106.692 54.9514 113.245C48.6549 119.797 41.0705 123.074 32.1981 123.074C23.6119 123.074 16.0275 119.94 9.44478 113.672C3.14826 107.12 0 99.2851 0 90.1686C0 86.465 0.715513 82.1916 2.14654 77.3484C3.86377 72.2203 6.72583 65.8102 10.7327 58.1181L42.5015 0L68.6893 14.1022ZM148 14.1022L118.807 68.3743L102.923 72.6477C104.64 69.2289 106.643 66.38 108.933 64.1009C111.509 61.8217 114.228 60.6822 117.09 60.6822C123.673 60.6822 129.683 63.5311 135.121 69.2289C140.845 74.6419 143.707 81.6218 143.707 90.1686C143.707 99.0003 140.559 106.692 134.262 113.245C127.966 119.797 120.381 123.074 111.509 123.074C102.923 123.074 95.3382 119.94 88.7555 113.672C82.459 107.12 79.3107 99.2851 79.3107 90.1686C79.3107 86.465 80.0262 82.1916 81.4572 77.3484C83.1745 72.2203 86.0365 65.8102 90.0434 58.1181L121.812 0L148 14.1022Z" fill="currentColor"></path>
              </svg>
            </i>
            <blockquote class="block relative lg:ml-9 text-2xl md:text-4xl leading-[1.25] lg:pr-36 font-medium">
              I love how convenient it is, right at my fingertips. I like the reminders and how the GIM complex diagnoses codes are automatically transferred to follow-up billings.
              <figcaption class="mt-5 text-lg font-semibold">Dr. Mino Mitri, Internal Medicine</figcaption>
            </blockquote>
          </li>
        </ul>
        <div data-live="" aria-live="polite" aria-atomic="true" class="sr-only">Item 1 of 2</div>
      </div>
    </div>
  </section>

  <section data-block="content_and_media" data-layout="ltr" data-imgposition="left" class="section relative theme theme-dove">
    <div class="grid-container">
      <div class="flex-wrap items-center row">
        <div class="order-2 w-full column lg:w-1/2 mt-8 lg:mt-0 lg:order-1">
          <div class="relative flex flex-col">
            <h2 class="order-2 mb-3 text-4xl font-medium lg:text-5xl lg:mb-4">Even Better Together.</h2>
            <div class="order-2 prose xl:prose-xl lg:mt-4 pr-0 md:pr-16 lg:pr-8 xl:pr-12">
              <p><span style="font-weight: 400">Dr.Bill and MDBIlling.ca have joined forces! See how our teams have come together to improve medical billing for more than 8,000 Canadian physicians.</span></p>
            </div>
            <div class="flex items-center space-x-8 lg:space-y-0 lg:flex-row order-3 justify-center mt-8 lg:mt-8 xl:mt-10">
              <div class="inline-block" style="width: 129px; height: auto">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 31.007751937984%"></span>
                  <img width="129" height="40" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/drbill-logo-home.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/drbill-logo-home.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/drbill-logo-home.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/drbill-logo-home.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="129" height="40" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/drbill-logo-home.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/drbill-logo-home.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/drbill-logo-home.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/drbill-logo-home.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
              <div class="inline-block" style="width: 20px; height: auto">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 105%"></span>
                  <img width="20" height="21" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/plus-1.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/plus-1.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/plus-1.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/plus-1.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="20" height="21" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/plus-1.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/plus-1.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/plus-1.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/plus-1.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
              <div class="inline-block" style="width: 272px; height: auto">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 26.470588235294%"></span>
                  <img width="272" height="72" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/mdbilling-logo-home.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/mdbilling-logo-home.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/mdbilling-logo-home.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/mdbilling-logo-home.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="272" height="72" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/mdbilling-logo-home.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/mdbilling-logo-home.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/mdbilling-logo-home.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/mdbilling-logo-home.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="order-1 column w-full lg:w-1/2 lg:order-2">
          <div class="relative block md:pl-12 xl:pl-12">
            <div data-videoplayer="wistia" id="wistia-embed-8rlcbe27sv" data-videoid="8rlcbe27sv" class="relative h-0 pt-[56.25%] block w-full video-player bg-cyan">
              <div class="wistia_embed wistia_async_8rlcbe27sv"></div>
              <button data-playbutton="" class="absolute block transition-opacity duration-300 play ease-in-sine">
                <span class="sr-only">Play Video</span>
                <figure class="overlay shadow-high">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 56.875%"></span>
                  <img width="640" height="364" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/video-placeholder.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/video-placeholder.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/video-placeholder.jpg?w=1280 1920w" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/video-placeholder.jpg" style="visibility: visible; opacity: 1" />
                  <noscript>
                    <img width="640" height="364" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/video-placeholder.jpg" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/video-placeholder.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/video-placeholder.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/video-placeholder.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
                <i class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 text-6xl md:text-7xl lg:text-[108px]">
                  <svg class="block" width="1em" height="1em" viewBox="0 0 108 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="54" cy="54" r="53" fill="#2A2A29" stroke="#F9F9F8" stroke-width="2"></circle>
                    <path d="M88 54.5L39.25 82.6458L39.25 26.3542L88 54.5Z" fill="#F9F9F8"></path>
                  </svg>
                </i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div data-block="spacer" aria-hidden="true" class="w-full h-0 pb-section-y theme theme-dove"></div>
  <!-- <div class="mt-6 lg:mt-8 xl:mt-10"/> -->

  <section data-block="list_and_image" style="--line-colour: violet" data-layout="rtl" class="section relative overflow-hidden theme theme-taupe">
    <div class="mx-auto text-center grid-container"><h2 class="text-4xl font-medium lg:text-5xl">Where Billing Becomes a Breeze</h2></div>
    <div class="mt-8 lg:mt-16 grid-container">
      <div class="flex-wrap row">
        <div data-carousel="" class="w-full column lg:w-1/2 lg:order-2">
          <ol data-togglerlist="" data-usetimer="true" data-carousel_track="" class="flex w-full overflow-auto space-x-gutter lg:space-x-0 lg:flex-col lg:space-y-8 lg:mt-8 snap-x snap-mandatory scroll-smooth lg:overflow-hidden">
            <li data-carousel_slide="" class="relative flex flex-col flex-none w-5/6 text-lg group lg:text-xl lg:pb-3 current snap-start" tabindex="0">
              <button data-toggler="" aria-expanded="true" aria-controls="image-populate-patient-information-in-a-simple-snap-of-the-label" class="list-toggler line-violet hidden lg:block absolute w-full h-[calc(100%-0.75rem)]">
                <span class="sr-only">Populate patient information in a simple snap of the label<br /></span>
                <figure aria-hidden="true" class="absolute left-0 line -bottom-3" style="width: 372.328px"></figure>
              </button>
              <div class="flex-1 block lg:hidden">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 89.375%"></span>
                  <img width="640" height="572" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="640" height="572" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
              <div class="py-8 lg:py-0">
                <h3 class="font-semibold group-focus-within:text-primary">Populate patient information in a simple snap of the label<br /></h3>
              </div>
            </li>
            <li data-carousel_slide="" class="relative flex flex-col flex-none w-5/6 text-lg group lg:text-xl lg:pb-3 snap-center" tabindex="-1">
              <button data-toggler="" aria-expanded="false" aria-controls="image-find-the-right-codes-quickly-with-intuitive-menus" class="list-toggler line-violet hidden lg:block absolute w-full h-[calc(100%-0.75rem)]">
                <span class="sr-only">Find the right codes quickly with intuitive menus</span>
                <figure aria-hidden="true" class="absolute left-0 line -bottom-3" style="width: 372.328px"></figure>
              </button>
              <div class="flex-1 block lg:hidden">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 93.125%"></span>
                  <img width="640" height="596" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="640" height="596" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
              <div class="py-8 lg:py-0">
                <h3 class="font-semibold group-focus-within:text-primary">Find the right codes quickly with intuitive menus</h3>
              </div>
            </li>
            <li data-carousel_slide="" class="relative flex flex-col flex-none w-5/6 text-lg group lg:text-xl lg:pb-3 snap-center" tabindex="-1">
              <button data-toggler="" aria-expanded="false" aria-controls="image-get-alerts-when-premiums-might-apply" class="list-toggler line-violet hidden lg:block absolute w-full h-[calc(100%-0.75rem)]">
                <span class="sr-only">Get alerts when premiums might apply <br /></span>
                <figure aria-hidden="true" class="absolute left-0 line -bottom-3" style="width: 347.75px"></figure>
              </button>
              <div class="flex-1 block lg:hidden">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 89.375%"></span>
                  <img width="640" height="572" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="640" height="572" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
              <div class="py-8 lg:py-0">
                <h3 class="font-semibold group-focus-within:text-primary">Get alerts when premiums might apply <br /></h3>
              </div>
            </li>
            <li data-carousel_slide="" class="relative flex flex-col flex-none w-5/6 text-lg group lg:text-xl lg:pb-3 snap-center" tabindex="-1">
              <button data-toggler="" aria-expanded="false" aria-controls="image-leave-rejections-to-us-on-the-comprehensive-plan" class="list-toggler line-violet hidden lg:block absolute w-full h-[calc(100%-0.75rem)]">
                <span class="sr-only">Leave rejections to us on the Comprehensive Plan</span>
                <figure aria-hidden="true" class="absolute left-0 line -bottom-3" style="width: 372.328px"></figure>
              </button>
              <div class="flex-1 block lg:hidden">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 92.5%"></span>
                  <img width="640" height="592" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="640" height="592" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
              <div class="py-8 lg:py-0">
                <h3 class="font-semibold group-focus-within:text-primary">Leave rejections to us on the Comprehensive Plan</h3>
              </div>
            </li>
            <li data-carousel_slide="" class="relative flex flex-col flex-none w-5/6 text-lg group lg:text-xl lg:pb-3 snap-center" tabindex="-1">
              <button data-toggler="" aria-expanded="false" aria-controls="image-keep-track-of-your-earnings-and-claims-at-a-glance" class="list-toggler line-violet hidden lg:block absolute w-full h-[calc(100%-0.75rem)]">
                <span class="sr-only">Keep track of your earnings and claims at a glance</span>
                <figure aria-hidden="true" class="absolute left-0 line -bottom-3" style="width: 372.328px"></figure>
              </button>
              <div class="flex-1 block lg:hidden">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 89.375%"></span>
                  <img width="640" height="572" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="640" height="572" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
              <div class="py-8 lg:py-0">
                <h3 class="font-semibold group-focus-within:text-primary">Keep track of your earnings and claims at a glance</h3>
              </div>
            </li>
          </ol>
          <ul data-carousel_dotnav="" class="flex justify-center w-full lg:hidden">
            <li>
              <button data-carousel_index="0" class="dot-button relative block w-[48px] h-[48px] current">
                <span class="sr-only">View item 0</span>
                <figure class="absolute block w-2 h-2 transform -translate-x-1/2 -translate-y-1/2 rounded-full pointer-events-none top-1/2 left-1/2"></figure>
              </button>
            </li>
            <li>
              <button data-carousel_index="1" class="dot-button relative block w-[48px] h-[48px]">
                <span class="sr-only">View item 1</span>
                <figure class="absolute block w-2 h-2 transform -translate-x-1/2 -translate-y-1/2 rounded-full pointer-events-none top-1/2 left-1/2"></figure>
              </button>
            </li>
            <li>
              <button data-carousel_index="2" class="dot-button relative block w-[48px] h-[48px]">
                <span class="sr-only">View item 2</span>
                <figure class="absolute block w-2 h-2 transform -translate-x-1/2 -translate-y-1/2 rounded-full pointer-events-none top-1/2 left-1/2"></figure>
              </button>
            </li>
            <li>
              <button data-carousel_index="3" class="dot-button relative block w-[48px] h-[48px]">
                <span class="sr-only">View item 3</span>
                <figure class="absolute block w-2 h-2 transform -translate-x-1/2 -translate-y-1/2 rounded-full pointer-events-none top-1/2 left-1/2"></figure>
              </button>
            </li>
            <li>
              <button data-carousel_index="4" class="dot-button relative block w-[48px] h-[48px]">
                <span class="sr-only">View item 4</span>
                <figure class="absolute block w-2 h-2 transform -translate-x-1/2 -translate-y-1/2 rounded-full pointer-events-none top-1/2 left-1/2"></figure>
              </button>
            </li>
          </ul>
          <div data-carousel_liveregion="" class="sr-only" aria-live="polite" aria-atomic="true">Item 1 of 1</div>
        </div>
        <div class="relative hidden lg:block order-1 w-full column lg:w-5/12 lg:order-1 lg:mr-1/12">
          <div id="image-populate-patient-information-in-a-simple-snap-of-the-label" aria-labelledby="" data-list_image_index="0" class="relative block w-full">
            <figure class="relative block w-full">
              <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 89.375%"></span>
              <img width="640" height="572" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              <noscript>
                <img width="640" height="572" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-1.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              </noscript>
            </figure>
          </div>
          <div id="image-find-the-right-codes-quickly-with-intuitive-menus" aria-labelledby="" data-list_image_index="1" class="relative block w-full hidden">
            <figure class="relative block w-full">
              <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 93.125%"></span>
              <img width="640" height="596" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              <noscript>
                <img width="640" height="596" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-2.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              </noscript>
            </figure>
          </div>
          <div id="image-get-alerts-when-premiums-might-apply" aria-labelledby="" data-list_image_index="2" class="relative block w-full hidden">
            <figure class="relative block w-full">
              <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 89.375%"></span>
              <img width="640" height="572" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              <noscript>
                <img width="640" height="572" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-3.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              </noscript>
            </figure>
          </div>
          <div id="image-leave-rejections-to-us-on-the-comprehensive-plan" aria-labelledby="" data-list_image_index="3" class="relative block w-full hidden">
            <figure class="relative block w-full">
              <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 92.5%"></span>
              <img width="640" height="592" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              <noscript>
                <img width="640" height="592" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-4.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              </noscript>
            </figure>
          </div>
          <div id="image-keep-track-of-your-earnings-and-claims-at-a-glance" aria-labelledby="" data-list_image_index="4" class="relative block w-full hidden">
            <figure class="relative block w-full">
              <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 89.375%"></span>
              <img width="640" height="572" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              <noscript>
                <img width="640" height="572" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/homepage-feature-5.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
              </noscript>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 text-center grid-container xl:mt-10">
      <div class="flex flex-col items-center justify-center w-5/6 pt-16 space-y-4 lg:w-2/3 md:w-full md:ml-1/6 ml-1/12 md:flex-row md:space-x-8 md:space-y-0">
        <a data-cta="home_list-and-image_compare-plans_button" data-tracking_item_id="home_list-and-image_compare-plans_button" data-tracking_label="list-and-image_home_list-and-image_compare-plans_button" data-tracking_location="list-and-image" data-tracking_type="button" data-tracking_text="Compare plans" class="button inline-block text-center w-full md:w-auto" href="https://www.dr-bill.ca/pricing-plans" target=""> Compare plans</a>
      </div>
    </div>
  </section>
  <section data-block="solutions_list" class="relative overflow-hidden section theme theme-white">
    <figure class="absolute top-0 left-0 w-1/4 transform -translate-y-5">
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 514 579" class="block w-full h-full">
        <g>
          <mask id="a" maskUnits="userSpaceOnUse" x="-17" y="-2" width="531" height="582"><path d="M357.459.7c61.503 29.445 109.681 81.015 134.94 144.442A271.81 271.81 0 0 1 511.993 248.4c0 62.789-12.988 115.11-38.966 156.961a308.058 308.058 0 0 1-101.741 101.147c-41.875 25.826-90.219 43.974-145.033 54.443a821.363 821.363 0 0 1-165.958 16.037H-17" stroke="#D3CDC4" stroke-width="4" vector-effect="non-scaling-stroke"></path></mask>
          <g mask="url(#a)"><path fill="#D3CDC4" d="M0 22h593v648H0z"></path></g>
        </g>
      </svg>
    </figure>
    <figure class="absolute bottom-0 right-0 w-1/4">
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 459 293" class="block w-full h-full"><path d="M292 0c161.267 0 292 131.181 292 293 0-.003-584 0-584 0C0 131.181 130.733 0 292 0Z" fill="#107774" vector-effect="non-scaling-size"></path></svg>
    </figure>
    <div class="relative grid-container">
      <div class="row">
        <div class="w-full text-center md:w-2/3 md:ml-1/6 lg:w-1/2 column lg:ml-1/4">
          <h2 class="text-4xl font-medium lg:text-5xl">Solutions Designed For The Unique Needs Of Your Practice</h2>
        </div>
      </div>
      <div class="flex-wrap my-20 row">
        <div class="flex justify-center w-full column md:w-1/2 lg:w-1/4 lg:space-y-0">
          <div class="mt-6 lg:mt-0 relative w-[calc(100%-2rem)] flex flex-col px-8 py-10 bg-white shadow-middle rounded-[10px]">
            <div class="flex flex-col">
              <h3 class="h-16 mb-6 text-2xl font-medium text-center">
                Individual<br />
                Physicians
              </h3>
              <div class="flex-none relative block w-[calc(100%+2rem)] rounded-l-full overflow-hidden">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 81.349206349206%"></span>
                  <img width="504" height="410" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-physicians.jpg" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-physicians.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-physicians.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-physicians.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="504" height="410" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-physicians.jpg" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-physicians.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-physicians.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-physicians.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
            </div>
            <div class="flex justify-around flex-1 w-full mt-6 lg:items-start lg:flex-row lg:space-x-4 lg:px-6">
              <a href="https://www.dr-bill.ca/physicians/ontario" class="flex flex-col items-center h-full mx-4 space-y-3 text-center hover:underline focus-visible:focus:underline">
                <span class="flex-1 block">Ontario</span>
                <i class="icon w-[31px] h-[31px] inline-block flex-none">
                  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31">
                    <circle cx="15.5" cy="15.5" r="15.5" fill="#FFD480"></circle>
                    <path d="m16.326 11.199 4.468 4.32a.663.663 0 0 1 0 .961l-4.468 4.321a.719.719 0 0 1-.993 0 .663.663 0 0 1 0-.96l3.27-3.162H10v-1.358h8.603l-3.27-3.162a.663.663 0 0 1 0-.96.719.719 0 0 1 .993 0Z" fill="#000"></path>
                  </svg>
                </i>
              </a>
              <a href="https://www.dr-bill.ca/physicians/alberta-bc" class="flex flex-col items-center h-full mx-4 space-y-3 text-center hover:underline focus-visible:focus:underline">
                <span class="flex-1 block">British Columbia &amp; Alberta</span>
                <i class="icon w-[31px] h-[31px] inline-block flex-none">
                  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31">
                    <circle cx="15.5" cy="15.5" r="15.5" fill="#FFD480"></circle>
                    <path d="m16.326 11.199 4.468 4.32a.663.663 0 0 1 0 .961l-4.468 4.321a.719.719 0 0 1-.993 0 .663.663 0 0 1 0-.96l3.27-3.162H10v-1.358h8.603l-3.27-3.162a.663.663 0 0 1 0-.96.719.719 0 0 1 .993 0Z" fill="#000"></path>
                  </svg>
                </i>
              </a>
            </div>
          </div>
        </div>
        <div class="flex justify-center w-full column md:w-1/2 lg:w-1/4 lg:space-y-0">
          <div class="mt-6 lg:mt-0 relative w-[calc(100%-2rem)] flex flex-col px-8 py-10 bg-white shadow-middle rounded-[10px]">
            <div class="flex flex-col">
              <h3 class="h-16 mb-6 text-2xl font-medium text-center">
                Newly Practicing<br />
                Physicians
              </h3>
              <div class="flex-none relative block w-[calc(100%+2rem)] rounded-l-full overflow-hidden">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 81.349206349206%"></span>
                  <img width="504" height="410" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Solutions.jpg" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Solutions.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Solutions.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Solutions.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="504" height="410" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Solutions.jpg" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Solutions.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Solutions.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Solutions.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
            </div>
            <div class="flex justify-around flex-1 w-full mt-6 lg:items-start lg:flex-row lg:space-x-4 lg:px-6">
              <a href="https://www.dr-bill.ca/physicians/newly-practicing" class="flex flex-col items-center h-full mx-4 space-y-3 text-center hover:underline focus-visible:focus:underline">
                <span class="flex-1 block">All Provinces</span>
                <i class="icon w-[31px] h-[31px] inline-block flex-none">
                  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31">
                    <circle cx="15.5" cy="15.5" r="15.5" fill="#FFD480"></circle>
                    <path d="m16.326 11.199 4.468 4.32a.663.663 0 0 1 0 .961l-4.468 4.321a.719.719 0 0 1-.993 0 .663.663 0 0 1 0-.96l3.27-3.162H10v-1.358h8.603l-3.27-3.162a.663.663 0 0 1 0-.96.719.719 0 0 1 .993 0Z" fill="#000"></path>
                  </svg>
                </i>
              </a>
            </div>
          </div>
        </div>
        <div class="flex justify-center w-full column md:w-1/2 lg:w-1/4 lg:space-y-0">
          <div class="mt-6 lg:mt-0 relative w-[calc(100%-2rem)] flex flex-col px-8 py-10 bg-white shadow-middle rounded-[10px]">
            <div class="flex flex-col">
              <h3 class="h-16 mb-6 text-2xl font-medium text-center">Teams &amp; Groups</h3>
              <div class="flex-none relative block w-[calc(100%+2rem)] rounded-l-full overflow-hidden">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 81.547619047619%"></span>
                  <img width="504" height="411" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Teams.jpg" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Teams.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Teams.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Teams.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="504" height="411" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Teams.jpg" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Teams.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Teams.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-Teams.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
            </div>
            <div class="flex justify-around flex-1 w-full mt-6 lg:items-start lg:flex-row lg:space-x-4 lg:px-6">
              <a href="https://www.dr-bill.ca/teams/ontario" class="flex flex-col items-center h-full mx-4 space-y-3 text-center hover:underline focus-visible:focus:underline">
                <span class="flex-1 block">Ontario</span>
                <i class="icon w-[31px] h-[31px] inline-block flex-none">
                  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31">
                    <circle cx="15.5" cy="15.5" r="15.5" fill="#FFD480"></circle>
                    <path d="m16.326 11.199 4.468 4.32a.663.663 0 0 1 0 .961l-4.468 4.321a.719.719 0 0 1-.993 0 .663.663 0 0 1 0-.96l3.27-3.162H10v-1.358h8.603l-3.27-3.162a.663.663 0 0 1 0-.96.719.719 0 0 1 .993 0Z" fill="#000"></path>
                  </svg>
                </i>
              </a>
              <a href="https://www.dr-bill.ca/teams/alberta-bc" class="flex flex-col items-center h-full mx-4 space-y-3 text-center hover:underline focus-visible:focus:underline">
                <span class="flex-1 block">British Columbia &amp; Alberta</span>
                <i class="icon w-[31px] h-[31px] inline-block flex-none">
                  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31">
                    <circle cx="15.5" cy="15.5" r="15.5" fill="#FFD480"></circle>
                    <path d="m16.326 11.199 4.468 4.32a.663.663 0 0 1 0 .961l-4.468 4.321a.719.719 0 0 1-.993 0 .663.663 0 0 1 0-.96l3.27-3.162H10v-1.358h8.603l-3.27-3.162a.663.663 0 0 1 0-.96.719.719 0 0 1 .993 0Z" fill="#000"></path>
                  </svg>
                </i>
              </a>
            </div>
          </div>
        </div>
        <div class="flex justify-center w-full column md:w-1/2 lg:w-1/4 lg:space-y-0">
          <div class="mt-6 lg:mt-0 relative w-[calc(100%-2rem)] flex flex-col px-8 py-10 bg-white shadow-middle rounded-[10px]">
            <div class="flex flex-col">
              <h3 class="h-16 mb-6 text-2xl font-medium text-center">
                MOAs<br />
                &amp; Billing Agents
              </h3>
              <div class="flex-none relative block w-[calc(100%+2rem)] rounded-l-full overflow-hidden">
                <figure class="relative block w-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 81.547619047619%"></span>
                  <img width="504" height="411" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-moa.jpg" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-moa.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-moa.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-moa.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="504" height="411" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-moa.jpg" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-moa.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-moa.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/11/Hero-Individuals-moa.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
            </div>
            <div class="flex justify-around flex-1 w-full mt-6 lg:items-start lg:flex-row lg:space-x-4 lg:px-6">
              <a href="https://www.dr-bill.ca/moa-billing-agents" class="flex flex-col items-center h-full mx-4 space-y-3 text-center hover:underline focus-visible:focus:underline">
                <span class="flex-1 block">All Provinces</span>
                <i class="icon w-[31px] h-[31px] inline-block flex-none">
                  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31">
                    <circle cx="15.5" cy="15.5" r="15.5" fill="#FFD480"></circle>
                    <path d="m16.326 11.199 4.468 4.32a.663.663 0 0 1 0 .961l-4.468 4.321a.719.719 0 0 1-.993 0 .663.663 0 0 1 0-.96l3.27-3.162H10v-1.358h8.603l-3.27-3.162a.663.663 0 0 1 0-.96.719.719 0 0 1 .993 0Z" fill="#000"></path>
                  </svg>
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section data-block="resources_links" class="section overflow-hidden relative theme theme-taupe">
    <div class="grid-container">
      <div class="row">
        <div class="w-full text-center md:w-2/3 md:ml-1/6 lg:w-1/2 column lg:ml-1/4">
          <h2 class="text-4xl font-medium lg:text-5xl">Helpful Resources</h2>
          <div class="mt-4 prose xl:prose-xl lg:mt-6"><p>Great reads and helpful tips to keep you in the know on all things medical billing.</p></div>
        </div>
      </div>
      <div class="mt-16 row">
        <div class="relative flex w-full overflow-x-auto lg:overflow-visible scroll-smooth snap-x snap-mandatory">
          <div class="flex flex-wrap flex-none w-5/6 h-full overflow-visible shrink-0 grow-0 column lg:w-1/3 snap-always snap-start">
            <div class="card relative flex flex-col w-full rounded-sm shadow-small lg:shadow-middle bg-grey-light min-h-[370px]">
              <div class="flex flex-col justify-between flex-1 order-2 px-6 pt-5 pb-4">
                <a class="z-10 card-link first-letter:first-line:focus:outline-none" href="https://www.dr-bill.ca/blog/practice-management/4-ways-dr-bill-addresses-physician-burnout">
                  <h3 class="text-2xl card-link">4 Ways Dr.Bill Addresses Physician Burnout</h3>
                </a>
                <div class="inline-flex flex-none -mx-3">
                  <a href="https://www.dr-bill.ca/blog/category/career-advice" class="relative z-20 p-3 hover:underline focus:underline">Career Advice</a>
                  <a href="https://www.dr-bill.ca/blog/category/practice-management" class="relative z-20 p-3 hover:underline focus:underline">Practice Management</a>
                </div>
              </div>
              <div class="order-1 pointer-events-none relative h-[120px] lg:h-[160px] 2xl:h-[200px] overflow-hidden">
                <figure class="h-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 66.71875%"></span>
                  <img width="640" height="427" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine object-cover object-top" alt="4 Ways Dr.Bill Addresses Physician Burnout" data-src="https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="640" height="427" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover object-cover object-top" alt="4 Ways Dr.Bill Addresses Physician Burnout" src="https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap flex-none w-5/6 h-full overflow-visible shrink-0 grow-0 column lg:w-1/3 snap-always snap-center">
            <div class="card relative flex flex-col w-full rounded-sm shadow-small lg:shadow-middle bg-grey-light min-h-[370px]">
              <div class="flex flex-col justify-between flex-1 order-2 px-6 pt-5 pb-4">
                <a class="z-10 card-link first-letter:first-line:focus:outline-none" href="https://www.dr-bill.ca/blog/practice-management/top-10-questions-doctors-ask-about-dr-bill-medical-billing-software">
                  <h3 class="text-2xl card-link">Top 10 Questions Doctors Ask About Dr.Bill Medical Billing Software</h3>
                </a>
                <div class="inline-flex flex-none -mx-3">
                  <a href="https://www.dr-bill.ca/blog/category/features" class="relative z-20 p-3 hover:underline focus:underline">Features</a>
                  <a href="https://www.dr-bill.ca/blog/category/practice-management" class="relative z-20 p-3 hover:underline focus:underline">Practice Management</a>
                </div>
              </div>
              <div class="order-1 pointer-events-none relative h-[120px] lg:h-[160px] 2xl:h-[200px] overflow-hidden">
                <figure class="h-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 66.71875%"></span>
                  <img width="640" height="427" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine object-cover object-top" alt="A female doctor uses her mobile phone." data-src="https://www.dr-bill.ca/wp-content/uploads/2022/04/Untitled-1000-×-667-px-1.png" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2022/04/Untitled-1000-×-667-px-1.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/04/Untitled-1000-×-667-px-1.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/04/Untitled-1000-×-667-px-1.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="640" height="427" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover object-cover object-top" alt="A female doctor uses her mobile phone." src="https://www.dr-bill.ca/wp-content/uploads/2022/04/Untitled-1000-×-667-px-1.png" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/04/Untitled-1000-×-667-px-1.png?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2022/04/Untitled-1000-×-667-px-1.png?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2022/04/Untitled-1000-×-667-px-1.png?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap flex-none w-5/6 h-full overflow-visible shrink-0 grow-0 column lg:w-1/3 snap-always snap-center">
            <div class="card relative flex flex-col w-full rounded-sm shadow-small lg:shadow-middle bg-grey-light min-h-[370px]">
              <div class="flex flex-col justify-between flex-1 order-2 px-6 pt-5 pb-4">
                <a class="z-10 card-link first-letter:first-line:focus:outline-none" href="https://www.dr-bill.ca/blog/career-advice/work-life-balance-during-holidays">
                  <h3 class="text-2xl card-link">How Physicians Can Maintain Work/Life Balance During the Holiday Season</h3>
                </a>
                <div class="inline-flex flex-none -mx-3">
                  <a href="https://www.dr-bill.ca/blog/category/career-advice" class="relative z-20 p-3 hover:underline focus:underline">Career Advice</a>
                </div>
              </div>
              <div class="order-1 pointer-events-none relative h-[120px] lg:h-[160px] 2xl:h-[200px] overflow-hidden">
                <figure class="h-full">
                  <span style="height: 0; display: block; width: 100%; position: relative; padding-top: 53.4375%"></span>
                  <img width="640" height="342" loading="lazy" decoding="async" class="invisible opacity-0 absolute block inset-0 object-cover w-full h-full transition-opacity duration-400 ease-out-sine object-cover object-top" alt="" data-src="https://www.dr-bill.ca/wp-content/uploads/2020/06/practice_mgmt_16.jpg" data-srcset="https://www.dr-bill.ca/wp-content/uploads/2020/06/practice_mgmt_16.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2020/06/practice_mgmt_16.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2020/06/practice_mgmt_16.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  <noscript>
                    <img width="640" height="342" loading="lazy" decoding="async" class="absolute block inset-0 w-full h-full object-cover object-cover object-top" alt="" src="https://www.dr-bill.ca/wp-content/uploads/2020/06/practice_mgmt_16.jpg" srcset="https://www.dr-bill.ca/wp-content/uploads/2020/06/practice_mgmt_16.jpg?w=450 500w, https://www.dr-bill.ca/wp-content/uploads/2020/06/practice_mgmt_16.jpg?w=1024 1024w, https://www.dr-bill.ca/wp-content/uploads/2020/06/practice_mgmt_16.jpg?w=1280 1920w" sizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
                  </noscript>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center w-full mt-16">
        <a data-label="Explore All" data-cta="home_resources-links_explore-all_button" data-tracking_item_id="home_resources-links_explore-all_button" data-tracking_label="resources-links_Explore All" data-tracking_location="resources-links" data-tracking_type="button" data-tracking_text="Explore All" href="https://www.dr-bill.ca/resources" class="button ghosted"> Explore All</a>
      </div>
    </div>
  </section>
  <section data-block="get_started" class="section relative theme theme-navy">
    <div class="grid-container">
      <div class="row">
        <div class="w-1/2 text-center column ml-1/4">
          <h2 class="text-3xl font-medium lg:text-5xl">Get a $150 Billing Credit</h2>
        </div>
      </div>
      <div class="flex flex-col items-center w-2/3 space-y-12 md:items-start ml-1/6 md:w-10/12 xl:w-2/3 xl:ml-1/6 md:space-y-0 md:space-x-8 md:flex-row lg:justify-between md:ml-1/12 mt-8">
        <div class="mx-auto prose prose-lg text-center lg:prose-xl">
          <p>When you Sign Up for our Comprehensive Plan.<sup>1</sup></p>
          <p>
            <span class="text-sm">No credit card required. Cancel anytime.<sup>1</sup> <button data-modal_trigger="modal-9466">See terms</button></span>
          </p>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center w-5/6 pt-16 space-y-4 lg:w-2/3 lg:ml-1/6 md:w-full ml-1/12 md:flex-row md:space-x-8 md:space-y-0 md:ml-0"><a data-cta="home_get-started_ontario_button" data-tracking_item_id="home_get-started_ontario_button" data-tracking_label="get-started_home_get-started_ontario_button" data-tracking_location="get-started" data-tracking_type="button" data-tracking_text="Ontario" class="button inline-block text-center w-full md:w-auto md:min-w-[200px]" href="https://app.dr-bill.ca/users/sign_up?plan_id=comp" target=""> Ontario</a> <a data-cta="home_get-started_british-columbia_button" data-tracking_item_id="home_get-started_british-columbia_button" data-tracking_label="get-started_home_get-started_british-columbia_button" data-tracking_location="get-started" data-tracking_type="button" data-tracking_text="British Columbia" class="button inline-block text-center w-full md:w-auto md:min-w-[200px]" href="https://app.dr-bill.ca/users/sign_up?plan_id=comp" target=""> British Columbia</a> <a data-cta="home_get-started_alberta_button" data-tracking_item_id="home_get-started_alberta_button" data-tracking_label="get-started_home_get-started_alberta_button" data-tracking_location="get-started" data-tracking_type="button" data-tracking_text="Alberta" class="button inline-block text-center w-full md:w-auto md:min-w-[200px]" href="https://app.dr-bill.ca/users/sign_up?plan_id=comp" target=""> Alberta</a></div>
    </div>
  </section>
</main>
<!--#include virtual="/html/nav.html" -->
<script type="module" src="/src/main.js"></script>
