<section data-block="hero-default" class="section relative theme theme-taupe no-pad-y pb-12 md:py-section-y lg:pt-0 lg:pb-0 overflow-y-hidden overflow-x-hidden bg-taupe-mid">
  <div class="h-full grid-container overflow-x-visible">
    <div class="hero-arc--upper-right"></div>
    <div class="hero-arc--lower-left"></div>
    <div class="flex-wrap row md:mb-20 lg:mb-16 xl:mb-12 2xl:mb-0">
      <div class="z-10 order-2 w-full mt-6 lg:-mt-10 column lg:w-1/2 lg:order-1 lg:self-center">
        <div class="relative flex flex-col w-full pt-0 pb-0 lg:pb-24 lg:py-24 2xl:py-36 md:pr-4">
          <h1 class="text-title md:text-title-md lg:text-title-lg xl:text-title-xl">[Announcement of the $150 grant to the OMF]</h1>
          <div class="mt-6 lg:mt-8 xl:mt-10 block prose lg:prose-xl prose-h2:text-[15px] prose-h2:lg:text-[15px] prose-h2:font-normal prose-h2:uppercase prose-h2:mb-4 lg:prose-h2:mb-5 prose-h2:tracking-[0.3px]">
            <p><span style="font-weight: 400">Ever wish you had a billing specialist in your back pocket to coach you through coding or help you bill more accurately? Dr.Bill makes it easy for you to find the right codes, submit claims and maximize your earnings.</span></p>
          </div>
          <div class="flex flex-col mt-6 space-y-4 lg:mt-8 xl:mt-10 lg:space-y-0 lg:flex-row lg:space-x-4">
            <a class="button button-reverse" data-cta="" data-tracking_item_id="home_hero_get-started_button" data-tracking_label="hero_home_hero_get-started_button" data-tracking_location="hero" data-tracking_type="button" data-tracking_text="GET STARTED" class="bg-body button -reverse inline-block w-full md:w-auto md:min-w-[230px] text-center" href="https://app.dr-bill.ca/users/sign_up?plan_id=comp" target=""> GET STARTED</a>
          </div>
        </div>
      </div>
      <div class="!py-0 order-2 lg:flex column lg:w-1/2 w-full items-center">
        <div class="hero--image-mask">
          <figure class="relative block w-full h-full">
            <img width="800" height="640" loading="eager" decoding="sync" class="block w-full h-full transition-opacity object-cover duration-400 ease-out-sine" alt="_______" src="https://sidewaysdesign.com/partners/drbill/2023/landingpage_burnout/istockphoto-1227350231-2048x2048-sized.jpg" xsrcset="https://sidewaysdesign.com/partners/drbill/2023/landingpage_burnout/istockphoto-1227350231-2048x2048-transformed_crop.jpeg?w=450 500w, https://sidewaysdesign.com/partners/drbill/2023/landingpage_burnout/istockphoto-1227350231-2048x2048-transformed_crop.jpeg?w=1024 1024w, https://sidewaysdesign.com/partners/drbill/2023/landingpage_burnout/istockphoto-1227350231-2048x2048-transformed_crop.jpeg?w=1280 1920w" xsizes="(max-width: 500px) 500px, (min-width: 501px) 1024px, 1920px" />
          </figure>
        </div>
      </div>
      <div class="order-1 block w-full lg:hidden column !py-0"></div>
    </div>
  </div>
</section>
