<section id="internal-posts" class="bg-surf section relative lg:py-12">
  <h2 class="text-white text-center text-3xl md:text-4xl order-2 mb-3 lg:text-5xl lg:mb-4">[Showcase Dr.Bill and available resources]</h2>
  <div class="ml-auto mr-auto grid grid-container grid-cols-1 xs:grid-cols-2 lg:grid-cols-4 gap-4 grid-container--cards">
    <!-- <div class="bg-white p-4 rounded-md shadow-md">Card 1</div> -->
    <article class="text-center bg-white pb-4">
      <a href="https://www.dr-bill.ca/blog/practice-management/tips-for-preventing-professional-burnout">
        <div class="grid-container--cards-image relative h-40 md:pb-100pct max-h-300">
          <img class="absolute inset-0 object-cover w-full h-full" width="300" loading="lazy" decoding="async" sizes="(max-width: 450px) 450px" srcset="https://www.dr-bill.ca/wp-content/uploads/2019/12/Depositphotos_90316084_s-2019.jpg?w=450 450w" src="https://www.dr-bill.ca/wp-content/uploads/2019/12/Depositphotos_90316084_s-2019.jpg?w=450" />
        </div>
      </a>
      <p class="text-left description p-3 pt-2">Preventing Professional Burnout: Tips for Doctors</p>
      <a class="inline-block button small ml-auto mr-auto m-0" href="https://www.dr-bill.ca/blog/practice-management/tips-for-preventing-professional-burnout">
        <button>View Now</button>
      </a>
    </article>
    <article class="text-center bg-white pb-4">
      <a href="https://www.dr-bill.ca/blog/practice-management/4-ways-dr-bill-addresses-physician-burnout">
        <div class="grid-container--cards-image relative h-40 md:pb-100pct max-h-300">
          <img class="absolute inset-0 object-cover w-full h-full" width="300" loading="lazy" decoding="async" sizes="(max-width: 450px) 450px" srcset="https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg?w=450 450w" src="https://www.dr-bill.ca/wp-content/uploads/2022/10/iStock-1303262237-1.jpg?w=450" />
        </div>
      </a>
      <p class="text-left description p-3 pt-2">4 Ways Dr.Bill Addresses Physician Burnout</p>
      <a class="inline-block button small ml-auto mr-auto m-0" href="https://www.dr-bill.ca/blog/practice-management/4-ways-dr-bill-addresses-physician-burnout">
        <button>View Now</button>
      </a>
    </article>
    <article class="text-center bg-white pb-4">
      <a href="https://www.dr-bill.ca/blog/practice-management/spotting-signs-of-burnout">
        <div class="grid-container--cards-image relative h-40 md:pb-100pct max-h-300">
          <img class="absolute inset-0 object-cover w-full h-full" width="300" loading="lazy" decoding="async" sizes="(max-width: 450px) 450px" srcset="https://www.dr-bill.ca/wp-content/uploads/2019/12/rejections.jpg?w=450 450w" src="https://www.dr-bill.ca/wp-content/uploads/2019/12/rejections.jpg?w=450" />
        </div>
      </a>
      <p class="text-left description p-3 pt-2">10 Signs You’re Burned Out at Work</p>
      <a class="inline-block button small ml-auto mr-auto m-0" href="https://www.dr-bill.ca/blog/practice-management/spotting-signs-of-burnout">
        <button>View Now</button>
      </a>
    </article>

    <article class="text-center bg-white pb-4">
      <div class="grid-container--cards-image relative h-40 md:pb-100pct max-h-300">
        <img src="https://picsum.photos/400/400" alt="Your image" class="absolute inset-0 object-cover w-full h-full" />
      </div>
      <p class="text-left description p-3 pt-2">Nerade kobiska. Sopyngen rereren. Favis epid. Epire selarade.</p>
      <a class="inline-block button small ml-auto mr-auto m-0" href="">
        <button>View Now</button>
      </a>
    </article>
  </div>
</section>
