---
const { title = 'Dr.Bill', description = 'Dr.Bill Resources Page' } = Astro.props
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="apple-touch-icon" sizes="180x180" href="https://www.dr-bill.ca/wp-content/themes/drbill-2022/assets/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="https://www.dr-bill.ca/wp-content/themes/drbill-2022/assets/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="https://www.dr-bill.ca/wp-content/themes/drbill-2022/assets/favicon-16x16.png" />
<link rel="preload" href="https://www.dr-bill.ca/wp-content/themes/drbill-2022/fonts/Outfit-Regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="https://www.dr-bill.ca/wp-content/themes/drbill-2022/fonts/Outfit-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="https://www.dr-bill.ca/wp-content/themes/drbill-2022/fonts/Outfit-Medium.woff2" as="font" type="font/woff2" crossorigin />
