---
import '../styles/global.scss';
import '../styles/breakpoints.pcss';
import '../styles/fonts.pcss';
import '../styles/general.pcss';
import '../styles/bokeh.pcss';
import '../styles/bubbleframe.pcss';
import '../styles/intro.pcss';
import '../styles/logomark.pcss';
import '../styles/whatcanido.pcss';
import '../styles/headings.pcss';
import '../styles/secretsauce.pcss';
import '../styles/testimonials.pcss';
import '../styles/tabs.pcss';
import '../styles/footer.pcss';
import '../styles/expertise.pcss';
import '../styles/gallery-items.pcss';
import '../styles/gallery-overlays.pcss';

const {
	title = 'Sideways Design',
	description = 'Portfolio site for Richard Cote',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"	rel="stylesheet" />
