<section id="partner-posts" class="bg-violet section relative lg:py-12">
  <h2 class="text-white text-center order-2 mb-3 text-3xl md:text-4xl lg:text-5xl lg:mb-4">[Showcase external posts]</h2>
  <div class="w-full ml-auto mr-auto grid grid-container grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4">
    <article class="text-center bg-white bg-taupe">
      <aside><a href="https://php.oma.org">Source: Ontario Medical Association</a></aside>
      <div class="truncate">
        <h3>Keeping Yourself Healthy</h3>
        <p>The PHP welcomes self-referrals from medical students, residents, physicians and veterinarians in Ontario who may have concerns about their health and well-being. Ontario’s doctors report increased burnout, propose five solutions - OMA</p>
      </div>
      <a class="inline-block button small" target="_blank" href="https://php.oma.org/well-being/keeping-yourself-healthy/">
        <button>Read More</button>
      </a>
    </article>
    <article class="text-center bg-white pb-4 bg-taupe p-3 pt-2">
      <aside><a href="https://php.oma.org">Source: Ontario Medical Association</a></aside>
      <div class="truncate">
        <h3>Ontario’s doctors report increased burnout, propose five solutions</h3>
        <p>Almost three-quarters (72.9 per cent) of physicians surveyed by the Ontario Medical Association said they experienced some level of burnout in 2021, up from 66 per cent the previous year. Ontario’s Doctors Report Increased Burnout, Propose Five Solutions</p>
      </div>
      <a class="inline-block button small" target="_blank" href="https://php.oma.org/well-being/keeping-yourself-healthy/">
        <button>Read More</button>
      </a>
    </article>
    <article class="text-center bg-white pb-4 bg-taupe p-3 pt-2">
      <aside><a href="https://oma.org">Source: Ontario Medical Association</a></aside>
      <div class="truncate">
        <h3>System-Level Solutions to Physician Burnout</h3>
        <p>The OMA report includes five solutions to address burnout, starting with reducing and streamlining documentation. Studies have shown that physicians spend two hours on electronic documentation for every one hour of direct patient interaction. Recommendations of the OMA Burnout Task Force</p>
      </div>
      <a class="inline-block button small" target="_blank" href="https://www.oma.org/newsroom/news/2021/aug/ontarios-doctors-report-increased-burnout-propose-five-solutions/">
        <button>Read More</button>
      </a>
    </article>
    <article class="text-center bg-white pb-4 bg-taupe p-3 pt-2">
      <aside><a href="https://oma.org">Source: Ontario Medical Association</a></aside>
      <div class="truncate">
        <h3>Recommendations of the OMA Burnout Task Force</h3>
        <p>At the health-care system level, burnout has been associated with reduced physician productivity, increased physician turnover (and potentially diminished patient access to care as a result) and increased costs for the system.</p>
      </div>
      <a class="inline-block button small" target="_blank" href="https://www.oma.org/uploadedfiles/oma/media/pagetree/advocacy/health-policy-recommendations/burnout-paper.pdf">
        <button>Read More</button>
      </a>
    </article>
    <article class="text-center bg-white pb-4 bg-taupe p-3 pt-2">
      <aside><a href="https://cma.ca">Source: Canadian Medical Association</a></aside>
      <div class="truncate">
        <h3>Physician Wellness Hub</h3>
        <p>The Physician Wellness Hub is a one-stop-shop for physicians and learners to find resources and tools to help manage the challenges of medical practice.</p>
      </div>
      <a class="inline-block button small" target="_blank" href="https://www.cma.ca/physician-wellness-hub/topics/burnout">
        <button>Read More</button>
      </a>
    </article>
    <article class="text-center bg-white pb-4 bg-taupe p-3 pt-2">
      <aside><a href="https://doctorsofbc.ca">Source: Doctors of BC</a></aside>
      <div class="truncate">
        <h3>Job burnout now an official syndrome</h3>
        <p>Burnout is a syndrome resulting from chronic workplace stress that has not been successfully managed.</p>
      </div>
      <a class="inline-block button small" target="_blank" href="https://www.doctorsofbc.ca/hot-health-topics/job-burnout-now-official-syndrome">
        <button>Read More</button>
      </a>
    </article>
    <article class="text-center bg-white pb-4 bg-taupe p-3 pt-2">
      <aside><a href="https://camh.ca">Source: Centre for Addiction and Mental Health</a></aside>
      <div class="truncate">
        <h3>CAMH COVID-19 Resources for Health Care Workers</h3>
        <p>The COVID-19 pandemic has created unprecedented challenges for health care workers.</p>
      </div>
      <a class="inline-block button small" target="_blank" href="https://www.camh.ca//covid19HCW">
        <button>Read More</button>
      </a>
    </article>
    <article class="text-center bg-white pb-4 bg-taupe p-3 pt-2">
      <aside><a href="https://cpso.on.ca">Source: College of Physicians and Surgeons of Ontario</a></aside>
      <div class="truncate">
        <h3>Physician Wellness</h3>
        <p>The College recognizes that physicians face many challenges in their professional and personal lives that can impact their health and well-being.</p>
      </div>
      <a class="inline-block button small" target="_blank" href="https://www.cpso.on.ca/Physicians/Your-Practice/Physician-Advisory-Services/Physician-Wellness">
        <button>Read More</button>
      </a>
    </article>
  </div>
</section>
