---
import HelloTag from './HelloTag.svelte';
---

<section>
  <div class="semicircle"></div>
  <div class="circle--control">
    <div class="circle--container">
      <div class="fullcircle">
        <div class="introtext">
          <HelloTag client:load />
          <div class="introtext--text">…and I am Sideways Design, a designer and front-end developer based in Toronto,&nbsp;Canada<span class="hide-above-smmd">.</span><span class="hide-below-smmd">, with 25+&nbsp;years in digital craftsmanship.</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="circle--container--smaller">
    <div class="bubbleframe bubbleframe--small bubbleframe--first">
      <div id="swd_designicon"></div>
      <p class="white">As an RGD-certified designer, I create the shape &amp; detail of your messaging to your clients.</p>
    </div>
    <div id="bringtolife" class="circle--container--smaller">
      <div class="bubbleframe bubbleframe--small bubbleframe--second">
        <div id="swd_productionicon"></div>
        <p class="white">As a seasoned digital developer&thinsp;...&thinsp;I&nbsp;bring&nbsp;it&nbsp;to&nbsp;life.</p>
      </div>
    </div>
  </div>
</section>
