<div class="footer">
 <div class="email_phone"><a href="mailto:richard@sidewaysdesign.com" class="email">richard@sidewaysdesign.com</a><a class="phone" href="tel:+14168850334">416-885-0334</a></div>
 <a href="https://www.twitter.com/sidewaysdesign" class="social social__twitter"></a><a href="https://www.linkedin.com/in/sidewaysdesign" class="social social__linkedin">&nbsp;</a>
 <p class="padbottom-3qtr">15 Phin Avenue, Toronto ON&ensp;Canada&ensp;M4J&nbsp;3T1</p>
 <p>© <span id="currentyear">2022</span> Sideways Design, all&nbsp;rights&nbsp;reserved.</p>
 <p>Certified RGD, member of the Association of <a target="swd" href="https://www.rgd.ca/">Registered Graphic Designers of Ontario</a></p>
</div>